<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataAdministration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DataAdministration.Properties.Settings.PersianSoftwareConnectionString"
            connectionString="Data Source=(local)\SQLExpress;Initial Catalog=PersianSoftware;Persist Security Info=True;User ID=PersianSoftwareWebSite;Password=1aXz%VwO*cG~H_P^n"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <DataAdministration.Properties.Settings>
            <setting name="ProductResDirBase" serializeAs="String">
                <value>D:\Temp\Web\Content\Products\Repository\</value>
            </setting>
            <setting name="MaxScreenshotSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="MaxThumbnailSize" serializeAs="String">
                <value>120, 80</value>
            </setting>
            <setting name="ScreenshotDirName" serializeAs="String">
                <value>\Screenshots\</value>
            </setting>
            <setting name="ThumbnailDirName" serializeAs="String">
                <value>Thumbnails\</value>
            </setting>
        </DataAdministration.Properties.Settings>
    </userSettings>
</configuration>
