

/*<!-- 

    
    background-color: #E5EFFA;
    border-bottom: 1px solid #E0E8FA;
    background-color: #F9FAFF;

.forum_message_inf_separator 
{
    padding: 0px 15px 0px 15px;
    margin: 0;
    color: #FFA000;
    font-weight: bold;
}

#CC6600

    white-space: nowrap;
    overflow: hidden;
    background: url("/Content/Images/screenshot_desc_bg.png") repeat scroll 0 0 transparent;

    background-color: White;
    
    -moz-border-radius: 5px;
    border-radius: 5px;




#featured_products
{
    float: left;
    width: 48%;
    margin: 6px;
}


#popular_products
{
    float: left;
    width: 100%;
    margin: 6px;
}


.form a
{
    padding: 6px;
    
    color: White;
    background: #70A040;
    
    border: 1px solid #80a070;

    font-family: Tahoma;
    font-weight: bold;
    
    vertical-align:middle;
    cursor: pointer;
}

-->*/

body
{
    margin: 0;
    padding: 0;
    border: 0;
    line-height: normal;
    
    font-family: Verdana, Tahoma, Arial, Serif;
    font-size: 12px;
    
    background-color: #000000;
    color: Black;
    
    width:100%;
    min-width:800px;    /* Minimum width of layout - remove line if not required */
						/* The min-width property does not work in old versions of Internet Explorer */
   
    vertical-align: middle;    
    text-decoration: none;
}

h1, h2, h3, h4
{
    margin:0;
    padding:0;
}

h1, h2, h3
{
    color: #E06000;
    font-family: B Nazanin, Arabic Transparent, Tahoma;
}

h1
{
    font-size: 32pt;
    font-weight: bold;
}

h4
{
    padding: 0px 10px 0px 10px;
}

 /*-------------------------------------------------------------------------------------+
 |									Page Layout: 3Columns								|
 +-------------------------------------------------------------------------------------*/
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;			/* width of page */
	position:relative;
}
.col_center,
.ltr_col_left,
.ltr_col_right,
.rtl_col_left,
.rtl_col_right
 {
	float:left;
	position:relative;
	/*padding:0 0 1em 0;	 no left and right padding on columns, we just make them narrower instead 
					only padding top and bottom is included here, make it whatever value you need */
	overflow:hidden;
}
/* 3 Column settings */
.threecol 
{
    background-color:white;
}
.threecol .colmid {
	right: 15%;			/* width of the right column */
}
.threecol .colleft {
	right: 70%;			/* width of the middle column */
}
.threecol .col_center 
{
	width: 70%;			/* width of center column content (column width minus padding on either side) */
	left: 100%;			/* 100% plus left padding of center column */
}
.threecol .rtl_col_left {
	width: 15%;			/* Width of left column content (column width minus padding on either side) */
	left: 100%;			/* 15width of (right column) plus (center column left and right padding) plus (left column left padding) */
}
.threecol .rtl_col_right {
	width: 15%;			/* Width of right column content (column width minus padding on either side) */
	left: 0;			/*85 Please make note of the brackets here:
					    (100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */
}
.threecol .ltr_col_left {
	width: 15%;			/* Width of left column content (column width minus padding on either side) */
	left: 15%;			/* width of (right column) plus (center column left and right padding) plus (left column left padding) */
}
.threecol .ltr_col_right {
	width: 15%;			/* Width of right column content (column width minus padding on either side) */
	left: 85%;			/* Please make note of the brackets here:
					    (100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */
}


 /*-------------------------------------------------------------------------------------+
 |									Page								|
 +-------------------------------------------------------------------------------------*/

fieldset, fieldset fieldset
{
}


legend, fieldset legend
{  
	display: block !important;
	height: 0;
	margin: 0;
	padding: 0;
	width: 0;
	visibility: hidden;
}



.form
{
    background-color: #FAFBFF;
    border: 1px dashed #6090C0;
    clear: both;
    margin: 10px;
    padding: 8px;
}



input[type='submit']
{
    color: Black;
    background-color: #E7F0C0;
    
    outline: #90A080 solid 1px;
    
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF #90A080 #90A080 #FFFFFF;
    
    font-family: Tahoma;
    font-size: 9pt;
    font-weight: bold;
    
    cursor: pointer;
    
    vertical-align: middle;
    
    padding: 1px 4px 3px 4px;
    margin: 0px;
    
    display:inline-block;
    white-space: nowrap;
}

.form a, .forum_title a, input[type="submit"]
{
}


.form a:hover
{
}


a
{
    text-decoration: none;
    cursor: pointer;
    border: 0 none black;
}


a img
{
    border: 0 none white;
}


a:hover
{
    text-decoration: none;
    color: #FFA000;
}


#header
{
    clear: both;
    width: 100%;
    height: 115px;
    margin: 0px;
    padding: 0px;
    
    background-color: #123157;
    color: White;

    line-height: 0;
}


.section_title
{
    color:#FFFFFF;
    background-color: #6090C0;
    font-weight:bold;
    padding: 4px 6px 6px;

    text-shadow: 0 0 1px #183C4B;
}


.product_categories_title
{
    background-color: #257015;
}



#logo
{
    padding: 0px;
    margin: 0px;
    
    float: left;
}


#culture_selector
{
    float: right;
    padding: 0;
    margin: 0;
    text-align: right;
}


#product_categories 
{
    background-color: #257015;
    border: 2px solid #257015;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    margin: 4px;
    padding: 2px;
}

.button_link
{
}


.button_link a
{
    background-color: #123157;
    border: 1px solid #123157;
    
    display: block inline;
    
    font-weight: bold;
    color: White;
    
    vertical-align:middle;
    
    padding: 3px;
}


.button_link a:hover
{
    color: #FFF050;
    border-bottom: 1px dotted #FFD050;
}


.button_link a:visited
{
    color: White;
}


.button_link a:visited:hover
{
    color: #FFF050;
    border-bottom: 1px dotted #FFD050;
}


.button_link a.selected
{
    border-bottom: 1px dotted #FFD050;
    color: #FFD050;
}


.button_link a.selected:hover
{
}


.accordion_list_title
{
    font-weight: bold;
    border-top: 1px solid #AFDA4B;
    text-shadow: 0px 0px 2px #609000;
}


.accordion_list_title a, .accordion_list_title a:hover, .accordion_list_title a:visited
{
    display: block;
    color: White;
    background-color: #8FBA2B;
    padding: 8px;
}


.accordion_dropdown
{
    border: 1px solid #8FBA2B;
}


.accordion_list_item, .accordion_list_item_selected
{
    cursor:pointer;
    padding: 4px;
    background-color: #F7FCDE;
    vertical-align:middle;
}

.product_categories_caption
{
    padding: 8px;
    font-weight: bold;
    vertical-align: middle;
    background-color: #204060;
    color: #FFFFFF;
}

.accordion_list_item_selected
{
}


.accordion_list_item_selected a
{
    display:block;
    padding: 4px 10px;
    color: #202010;
    background-color: #FFE090;
    font-weight: bold;
}

.accordion_list_item_selected a:hover 
{
    text-decoration: none;
}


.accordion_list_item a
{
    display:block;
    color: #202010;
    padding: 4px 10px;
}

.accordion_list_item a:hover
{
    background-color: #FFE090;
    color: #000000;
    text-decoration: none;
}


#logon_viewer
{
    padding: 0px;
    margin: 0px;
    float: right;
    text-align: right;
}


#search_box
{
    float: right;
    display: inline;
    
    margin-top: 10px;
    padding: 0;

    text-align: right;
}


.search_results
{
    padding: 2px;
}


.search_results_item
{
    line-height: 1.8em;
    display: block;
    border-bottom: 1px solid #E0E5FF;
    padding: 10px 30px;
    margin: 0px;
}


.search_results_item:hover
{
    background-color: #FFFAF5;
}


.list_title_link
{
    margin : 0 -20px;
}


.list_title_link a
{
    color: #3060DF;
    font-weight: bold;
}


.list_title_link a:hover
{
    background-color: transparent;
}


.list_label
{
    color: #606060;
}


.list_field
{
    color: black;
    font-weight: bold;
    margin: 0 3px 0 3px;
}


.list_description
{
    color: black;
    font-weight: normal;
}


.list_pager
{
    padding: 8px;
    margin: 0;
}


.pager_inf_separator
{
    padding: 8px;
    color: #FFA000;
    font-weight: bold;
}


.list_pager_details
{
}


#right_widgets
{
    float: right;
    padding: 0;
    margin: 8px 8px 0px 0px;
    height: 90%;
}

#quick_access 
{
    line-height: normal;
    height: 75%;

    /*background-color: #1B4220;*/
    color: #A0C0F0;
    
    /*border: 1px solid #102B00;*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#menu_bar
{
    margin: 0;
    padding: 0;
    height: 25%;
    clear: right;
}

#nav_menu
{
    float: right;
}

#bread_crumb
{
    margin: 0;
    padding: 0;
    clear: both;
    margin-top: 2px;
    padding: 4px 4px 4px 4px;
    background-color: #7994cb;
    color: #E0E0FF;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 0 0 1px #183C4B;
    vertical-align: middle;
    font-family: Times New Roman, Roman;
}

#catalog
{
    background-color: White;
    padding: 0px 8px 0px 8px;
}

.title
{
    color: #3800A9;
    font-family: B Nazanin, Arabic Transparent, Tahoma;
    font-size: 38pt;
    font-weight: bold;
    
    position: relative;
    top: 5px;
    line-height: 1em;
    
    padding: 0px 15px 4px 15px;
    border: 0px;
    margin: 0px;
}

.title a
{
    color: #3800A9;
    border: 0 none black;
    cursor: pointer;
    text-decoration: none;
}

.title a:hover
{
    color: #3800A9;
}

.title a:visited
{
    color: #3800A9;
}

.clean
{
    color: #505050;
}


.text
{
    padding: 0;
}


#showcase
{
    height: 310px;
}


#product_awards
{
    border: 2px solid #D0D0D0;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}


#product_rating
{
    height: 10%;
}


#screenshot
{
    background-color: #FFF6E0;
    border: 1px solid #FFD000;
    margin: 0;
    padding: 4px;
}

.screenshot_zoom
{
    padding-bottom: 0;
}

.screenshot_title
{
    background-color: #8FBA2B;
    font-size: 10pt;
    font-weight: bold;
    padding: 6px;
    margin-bottom: 2px;
}


#screenshot img
{
    border: 0;
}


#article
{
    border: 0;
    margin: 0;
    padding: 0;
    clear: both;
    float:none;
}


#article p
{
    padding: 0px 20px 0px 20px;
}


#overview
{
    width: 100%;
}

#product_overview
{
    font-size: 10pt;
    font-weight: bold;
}

#product_overview dl
{
    margin: 0;
    padding: 0px 4px 0px 4px;
    list-style-image:none;
    list-style-type:none;
    list-style-position: inside;
    line-height: 1.5em;
}


#product_overview dl dt
{
}


#product_overview dl dd
{
}


#contacts
{
    width: 400px;
    border: 2px solid #F0F3F9;
    padding: 2px;
    text-indent: 0.5em;
}

#contacts tr
{
}

#conrtacts tr th
{
    background:none repeat scroll 0 0 #F4F7FD;
}

.contacts_colored_row
{
    background:none repeat scroll 0 0 #F4F7FD;
}

.overview_head
{
    color: #909090;
}

.overview_item
{
    color: #000000;
}

#article dl dt
{
    font-weight: bold;
    padding: 0px 15px 2px 0px;
}

#article dl dd
{
    padding: 0px 5px 20px 0px;
    color: #000000;
    display: inline-block;
}

#article dl
{
	list-style-image: none;
	list-style-type: none;
    padding: 0;
	margin:0;
}

#article ul
{
	list-style-image: none;
	list-style-type: none;
    padding: 0;
	margin:0;

    border: 0 none;
    font-size: small;
    font-weight: normal;
    font-family: Tahoma;
}

#article ul li
{
    background-image:url('/Content/Images/tickmark.jpg');
    background-repeat:no-repeat;
    display:inline-block;
}

#sections_bar
{
}

#sections_bar ul
{
    padding: 0px 0px;
	margin: 2px 0px;    /* space between top/btm of the tab bar from objects around*/
	
	list-style: none outside none;
	border-bottom: 2px solid #769ed7;

	font-family: B Yekan, Yekan, Verdana;
	font-size: 1.25em;
	font-weight: normal;
}

#sections_bar ul li
{
    display: inline;
}

#sections_bar ul a
{
	color: #508c53;    
	
	padding: 0px 15px;
	margin: 0;
	
    text-decoration: none;
    vertical-align: baseline;
    
    display: inline-block;
    height: 25px;
}


#sections_bar ul li .selected
{
    position: relative;
    top: 2px;
    padding: 4px 15px;

	color: #3800a9;
    background-color: #c8e0f2;

	font-family: B Traffic, Traffic, Tahoma;
	font-weight: bold;

	border: 2px solid #769ed7;
	border-bottom: 0px none #c8e0f2;
    border-radius: 5px 5px 0 0;	
    -moz-border-radius: 5px 5px 0 0;	
    -webkit-border-radius: 5px 5px 0 0;	
}

.home_section_bar
{
	border: 2px solid #769ed7;
	border-top: 0px none #c8e0f2;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;	
    -webkit-border-radius: 0 0 5px 5px;	
   
    padding: 5px 0px 0px 0px;
	margin: 0px;
	top: -2px;
	position: relative;
	background-color: #c8e0f2;
}

.home_section_bar ul
{
    padding: 0;
	margin: 0px 0px;
	
	list-style: none outside none;
	border-bottom: 2px solid #769ed7;

	font-family: B Yekan, Yekan, Verdana;
	font-size: 1.25em;
	font-weight: normal;
}

.home_section_bar ul li
{
    display: inline;
}

.home_section_bar ul a
{
	color: #7196c4;    
	
	padding: 0px 15px;
	margin: 0;
	
    text-decoration: none;
    vertical-align: bottom;
    
    display: inline-block;
    height: 30px;
}

.home_section_bar ul li .selected
{
    position: relative;
    top: 2px;
    padding: 4px 15px;

	color: #194c95;
    background-color: #FFFFFF;

	font-family: B Traffic, Traffic, Tahoma;
	font-weight: bold;

	border: 2px solid #769ed7;
	border-bottom: 0px none #c8e0f2;
    border-radius: 5px 5px 0 0;	
}

.home_content
{
   background-color: #FFFFFF;
}

.article_li_left
{
    background-position:right center;
    margin-right:10px;
    padding-right:15px;
}

.article_li_right
{
    background-position:left center;
    margin-left:10px;
    padding-left:15px;
}


.product_inf_separator
{
    font-family: Courier New;
    color: black;
    font-weight: bold;
    font-size: 14pt;
}

#screenshots
{
    padding: 8px;
}


.screenshot_holder
{
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
    padding: 2px;
    margin: 0 0 2px 0;
}


.selected_screenshot
{
}


.screenshot_description
{
    padding: 4px;
    vertical-align: middle;
    border-top: 1px dotted #A0B0FF;
}


.screenshot_description .title
{
    font-size: 13pt;
    font-weight: bold;
}


.screenshot_description .text
{
    font-size: 11pt;
    font-weight: normal;
}


.thumbs_holder
{
    padding: 4px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    clear: both;
}


.thumbs_holder ul
{
	list-style-image: none;
	list-style-type: none;
	
    padding: 0;
	margin:0;
	
    border-bottom: 0 none;
    font-family: Tahoma;
    font-size: small;
    font-weight: normal;
    list-style: none outside none;	
}


.thumbs_holder ul li
{
    text-align: center;
}


.thumbs_holder ul a img
{
    border: 1px solid #A0A0A0;
    padding: 0px;
    margin: 0px;
    opacity: 0.8;
}


.thumbs_holder ul a:hover img
{
    opacity: 1;
}


.thumb_title
{
    height: 20px;
    display: block;
    margin: 0 0 5px 0;
}

.thumb_title a
{
    padding: 0;
    color: #D0D0D0;
    font-weight: bold;
    font-size: 8pt;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
}


.thumbs_holder li
{
    border: 1px solid #D0D0D0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    margin-bottom: 5px;
    margin-right: 5px;

    padding: 5px;
    position: relative;
    float: left;
    
    overflow: hidden;
    white-space: nowrap;
}

.thumbs_holder .normal
{
    background-color:#303030;
}


.thumbs_holder .selected
{
    background-color:#db1918;
}


.thumbs_holder .selected a
{
    color: White;
}

.thumbs_holder .normal a
{
    color: White;
}

.thumbs_holder ul a
{
    display: inline;
    height: 30px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    color: #000000;
}


#navigation_helper
{
    padding: 6px;
    margin: 0px 8px 8px 8px;
    
    background-color: #FEF9E9;
    border: 1px solid #FFD050;
    
    font-size: 9pt;
    font-weight: bold;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


#error_message
{
    padding: 6px;
    background-color: #FFE0E0;
    border: 1px solid #FFA020;
    
    font-size: 9pt;
    font-weight: bold;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


input#search_term
{
    background-color:#001743;
    border:1px solid #385783;
    color: White;
}


#footer
{
    background-color: #000000;
    height: 200px;
}


#messages
{
    clear: both;
    margin: 2px;
}



.message_content
{
    font-size: 11pt;
}


.message_image
{
    margin: 0 0 0 8px;
}


#best_products
{
    clear: both;
}


#best_products .title, #software_school .title
{
    padding-bottom: 4px;
    border-bottom: 2px solid #FFA020;
}


#popular_products
{
}


#software_school
{
    clear: both;
}


.message_item
{
    clear: both;
}


#featured_blog_entries
{
    padding: 0px 2px 0px 2px;
}


#featured_blog_entries ul
{
	list-style-type: none;
	list-style-image: none;
	margin:0;
	padding: 0;
}


#featured_blog_entries ul li
{
    padding: 10px 4px 10px 4px;
    border-bottom: 1px dotted #FFA020;
}


#featured_blog_entries ul li a
{
    color: #3060DF;
}


#announcements
{
    padding: 0 2px;
    font-weight: bold;
}


#announcements ul
{
	list-style-type: none;
	list-style-image: none;
	margin:0;
	padding: 0;
}

#announcements ul li
{
    padding: 10px 4px 10px 4px;
    border-bottom: 1px dotted #FFA020;
}


#announcements ul li a
{
    color: #3060DF;
}



#members_toolbox
{
    padding: 0 2px;
}


.info_bar
{
    color: #505050;
    margin: 10px 4px 10px 4px;
    padding: 2px;
    border-bottom:2px solid #FFA000;
}


.feature_yes
{
    background-image:url('/Content/Images/tickmark.jpg');
    background-repeat:no-repeat;
    background-position:right center;
    padding: 5px;
}


.sort_options
{
    padding: 6px 0px 6px 0px;
    border-bottom:2px solid #FFA000;
    
    display: list-item;
}

.sort_options a
{
    padding: 4px 2px 4px 2px;
}


.sort_options .selected
{
    background-color: #FFA000;
    font-weight: bold;
    padding: 6px;

    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}


.sort_options .caption
{
    padding: 0px 4px 0px 4px;
    font-weight: bold;
}

.center_box
{
    width: 50%;
}


#related_tags
{
    padding: 8px;
}


.overview_title
{
    color: #CC6600;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px dashed #D0D0D0;
}

.voting_bar
{
    background-color: #FFF6E0;
    border: 1px solid #FFD000;
    padding: 4px;
    margin: 0px 0px 20px 0px;
}


.product_demo
{
    margin: 0px 0px 20px 0px;
}


.product_demo p
{
    margin: 0px 4px 2px 4px;
}


.forum
{
    background-color: #FFFEF8;
    border: 1px solid #FFA000;
    padding: 0;
    margin-bottom: 10px;
    clear: both;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}


.forum_title
{
    background-color: #FFCFA0;
    border-bottom: 1px solid #FFA000;
    
    font-weight: bold;
    padding: 6px;
}


.forum_body
{
}


.forum_discussion
{
    border-top: 1px solid #FFA000;
    clear: both;
}


.forum_message
{
    padding-top: 2px;
    clear: both;
}


.forum_message_subject_normal
{
    background-color: #FCF9E8;
    border-bottom: 1px dotted #E0A000;
    
    font-weight: bold;
    padding: 3px;
    height: 18px;
   
    display: block;
    cursor: pointer;
    clear: both;
}


.forum_message_subject_selected
{
    background-color: #95C0F0;
    border-bottom: 1px solid #80B0E0;
    
    font-weight: bold;
    padding: 3px;
    height: 18px;
   
    display: block;
    cursor: pointer;
}


.forum_message_body
{
    /*background-color: #FFFAF0;*/
    background-color: #F9FAFF;
    padding: 2px 14px 2px 14px;
}


.forum_message_caption
{
    overflow:hidden;
    display: inline;
}


.forum_message_time
{
    width:280px; 
    overflow:hidden;
    font-weight: normal;
    display: inline;
}


.forum_message_user
{
    width:100px; 
    overflow:hidden;
    display: inline;
}


.hidden
{
    height:0px; 
    width:0px; 
    line-height:0em; 
    margin: 0; 
    padding: 0;
    border: 0 none transparent;
    visibility: hidden;
}

.message_control_panel
{
    border-top: 1px dashed #80B0E0;
    margin: 20px 0px 0px 0px;
    padding-bottom: 10px;
}


.message_control_panel ul
{
	list-style-image: none;
	list-style-type: none;
    padding: 2px;
	margin:0;
}


.message_control_panel ul li
{
    display: inline-block;
    margin: 10px 4px 0px 4px;
    padding: 1px 4px 1px 4px;
    border: 1px solid #A0B0F0;
    background-color: #E0F0FF;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}


.discussion_control_panel
{
    /*background-color: #F8FAFF;*/
    padding: 4px;
}

.discussion_control_panel a
{
    display: inline-block;
    margin: 0;
    padding: 1px 4px 1px 4px;
    border: 1px solid #A0B0F0;
    background-color: #E0F0FF;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}


.form input[type='text'], .form input[type='password'], .form textarea
{
    border: 1px solid #DFDFDF;
    padding: 5px 3px;
    display: block;
    width: 95%;
}


.form label
{
    display: block;
    padding: 2px 0px 2px 0px;
    margin: 2px;
}


.discussion_message_editor
{
    margin: 2px;
    padding: 4px;
}


.checkbox
{
    display: block;
}


.checkbox label
{
    display: inline;
}



.discussion_message_original
{
    border-top: 1px dashed #C0C0C0;
    padding: 10px 15px 15px 15px;
    margin-bottom: 4px;
}


.discussion_message_type label
{
    display: inline;
}

.discussion_message_type input
{
    margin: 0px;
    padding: 0px;
}


.hor_sep
{
    margin: 0px 10px 0px 10px;
}


#members_toolbox
{
	background-color: #f7a41b;
	margin: 4px;
	padding: 0px;

    border: 2px solid #f7a41b;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


#members_toolbox .section_title
{
	background-color: #f7a41b;
}


#members_toolbox ul
{
	list-style-image: none;
	list-style-type: none;
    padding: 0;
	margin:0;
}


#members_toolbox ul li
{
    padding: 2px;
}


#members_toolbox ul li a
{
    display: block;
}


#members_toolbox ul li:hover
{
}


#members_toolbox ul li.selected
{
}


#members_toolbox .form
{
    padding: 6px;
    margin: 0;
    
    border: 0px none #FFFFFF;
    background-color: #fcf6df;

    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.page_title
{
    color: Black;
    font-weight: bold;
    font-size: 18pt;
    font-family: B Nazanin, Nazanin, Verdana;
    display: block;
    padding: 10px;
    margin: 0px;
}

.float_left
{
    float: left;
}

.float_right
{
    float: right;
}

.icon_zoom_in
{
    background-image: url('/Content/Images/icons_common.png');
    background-repeat: no-repeat;
    background-position: 5px -463px;
    
    width: 24px;
    height: 24px;
}
/*
    background-image: url('/Content/Images/icons_common.png');
    background-repeat: no-repeat;
    background-position: 5px -20px;

#article ul
{
}

#article ul li
{
    background-image:url('/Content/Images/tickmark.jpg');
    background-repeat:no-repeat;
    display:inline-block;
}

.article_li_left
{
    background-position:right center;
    margin-right:10px;
    padding-right:15px;
}
*/

/*
.image-set-thumb-gallery .image-thumb {
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin-bottom: 15px !important;
    margin-left: 3px !important;
    margin-right: 12px !important;
}
content.css (line 48)
.image-set-thumb-gallery .image-thumb {
    -moz-border-radius: 7px 7px 7px 7px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 10px;
}
site-d...min.css (line 19)
.image-set-thumb-gallery .image-thumb-small, .image-set-thumb-gallery .image-thumb-small a {
    width: 100px;
}
site-d...min.css (line 19)
.image-set-thumb-gallery .image-thumb, .image-set-thumb-gallery .image-thumb a, .image-set-thumb-gallery .image-thumb a img, .image-set-flow .image, .image-set-flow .image a, .image-set-flow .image a img, .image-set-thumb-flow .image-thumb, .image-set-thumb-flow .image-thumb a, .image-set-thumb-flow .image-thumb a img {
    position: relative;
    text-align: center;
    vertical-align: middle;
}
site-d...min.css (line 19)
.image-set-thumb-gallery .image-thumb, .image-set-flow .image, .image-set-thumb-flow .image-thumb {
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 15px;
    vertical-align: top;
}
site-d...min.css (line 19)

*/