body
{
    margin: 0;
    padding: 0;
    border: 0;
    
    font-family: Tahoma, Verdana, Arial, Serif;
    font-size: 12px;
    
    background-color: #101600;
    color: Black;
    
    width:100%;
    min-width:800px;    /* Minimum width of layout - remove line if not required */
						/* The min-width property does not work in old versions of Internet Explorer */
   
    text-decoration: none;
}


 /*-------------------------------------------------------------------------------------+
 |									Page Layout: 3Columns								|
 +-------------------------------------------------------------------------------------*/
.colmask 
{
	margin: 0px;
	position:relative;		/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
    clear:both;
    float:left;
    width:100%;				/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}
/* holy grail 3 column settings */
.holygrail 
{
}

.holygrail .colmid 
{
    float:left;
    width:200%;
    margin-left:-206px; 	/* Width of right column */
    position:relative;
    right:100%;
}
.holygrail .colleft 
{
    float:left;
    width:100%;
    margin-left:-50%;
    position:relative;
    left:412px;         	/* Left column width + right column width */
}
.holygrail .col1wrap 
{
    float:left;
    width:50%;
    position:relative;
    right:206px;        	/* Width of left column */
    padding-bottom:1em; 	/* Centre column bottom padding. Leave it out if it's zero */
}

.holygrail .centercol
{
	margin:0 206px;     	/* Centre column side padding:
                    		Left padding = left column width + centre column left padding width
                    		Right padding = right column width + centre column right padding width */
	position:relative;
	left:200%;
	overflow:hidden;
}

.holygrail .leftcol
{
    float:right;			/* This overrides the float:left above */
    width:200px;        	/* Width of left column content (left column width minus left and right padding) */
    position:relative;
    right: 3px;         	/* Width of the left-had side padding on the left column */
}

.holygrail .rightcol
{
    float:right;			/* This overrides the float:left above */
    width:200px;        	/* Width of right column content (right column width minus left and right padding) */
    margin-right: 9px;  	/* Width of right column right-hand padding + left column left and right padding */
    position:relative;
    left:50%;
}


 /*-------------------------------------------------------------------------------------+
 |									Page								|
 +-------------------------------------------------------------------------------------*/

fieldset, fieldset fieldset
{
    background-color:#FAFAF3;
    
    border-color:#BFBAB0;
    border-style:dotted;
    
    line-height:1.9em;
    
    margin: 0;
    padding: 8px 8px 8px 8px;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}


legend, fieldset legend
{  
	display: block !important;
	height: 0;
	margin: 0;
	padding: 0;
	width: 0;
	visibility: hidden;
}



.form
{
    background-color:White;
    border:1px solid black;

    line-height:1.9em;

    margin:2px 2px;
    padding:10px;

    -moz-border-radius: 5px;
    border-radius: 5px;
}


.form a
{
    padding: 6px;
    
    color: White;
    background: #70A040;
    
    border: 1px solid #80a070;

    font-family: Tahoma;
    font-weight: bold;
    
    vertical-align:middle;
    cursor: pointer;
}


.form a:hover
{
    color: black;
    background: #80A070;
}

input[type='submit']
{
    padding: 2px 2px;
    
    color: White;
    background: green;
    
    border-width: 1px;
    border-style: solid;
    border-color: #80a070 #607050 #607050 #80a070;

    font-family: Tahoma;
    font-weight: bold;
    
    vertical-align:middle;
    cursor: pointer;
}

a
{
    text-decoration: none;
    cursor: pointer;
}


a:hover
{
    text-decoration: underline;
}


#header
{
    width:100%;
    height: 129px;
    margin: 0px;
    padding: 0px;
    background-color:#0e2f0e;
    background-image: url('images/head_bk.gif');
}


#logo
{
    padding: 0px;
    margin: 0px;
    float: left;
    width: 321px;
    height: 129px;
    background-image: url('/Content/Images/logo.gif');
}


#culture_selector
{
    float: right;
    padding: 4px;
    text-align: right;
}


#product_categories
{
    padding: 4px;
    border: 1px solid #000000;
    background-color: #303030;
}


.button_link a
{
    display: block inline;
    
    font-weight: bold;
    color: White;
    
    vertical-align:middle;
    
    padding: 3px;
}


.button_link a:hover
{
    background-color: #90af90;
}


.button_link a:visited
{
    color: White;
}


.button_link a.selected
{
    color: Yellow;
    background-color: #90af90;
}


.button_link a.selected:hover
{
}


.accordion_list_title
{
    cursor:pointer;
    padding: 3px 3px;
    border: 1px solid black;
    background-color: #508040;
    font-weight: bold;
}

.accordion_list_title a, .accordion_list_title a:hover, .accordion_list_title a:visited
{
    display: block;
    color: White;
    background-color: #508040;
    padding: 4px 4px;
    text-decoration: none;
}


.accordion_dropdown
{
    padding: 0 1px 0 1px;
}


.accordion_list_item, .accordion_list_item_selected
{
    cursor:pointer;
    padding: 4px 4px;
    background-color: #b0d0a0;
    vertical-align:middle;
}


.accordion_list_item_selected
{
    border: 1px dotted black;
}


.accordion_list_item_selected a
{
    display:block;
    padding: 4px 4px;
    color: #202010;
    background-color: #efffa0;
}

.accordion_list_item_selected a:hover 
{
    text-decoration: none;
}


.accordion_list_item a
{
    display:block;
    color: #202010;
    padding: 4px 4px;
}

.accordion_list_item a:hover
{
    background-color: #efffa0;
    color: #000000;
    text-decoration: none;
}


#logon_viewer
{
    float: right;
    padding: 4px;
    text-align: right;
}


#search_box
{
    float: right;
    display: inline;
    padding: 4px;
    text-align: right;
    margin-top: 30px;
}


.search_results
{
    padding: 8px;
    
    background-color: White;
    
    -moz-border-radius: 5px;
    border-radius: 5px;
}


.search_results_item
{
    border-bottom: 1px dashed gray;
    background-color:#FAFAF3;
    padding: 10px 30px;
    line-height: 1.8em;
}


.list_title_link
{
    margin : 0 -20px;
}


.list_title_link a
{
    color: #5080ff;
    font-weight: bold;
}


.list_title_link a:hover
{
    background-color: transparent;
}


.list_label
{
    color: #606060;
}


.list_field
{
    color: black;
    font-weight: bold;
    margin: 0 3px 0 3px;
}


.list_description
{
    color: black;
    font-weight: normal;
}


.list_pager
{
    margin: 5px 0px 0px 0px;
    padding: 10px;
    
    background-color: White;
    border: 1px solid black;
    
    -moz-border-radius: 5px;
    border-radius: 5px;
}


.pager_inf_separator
{
    padding: 8px;
    color: Orange;
    font-weight: bold;
}


.list_pager_details
{
}


#quick_access 
{
    background-color: #1B4220;
    color: #a0d080;
    
    position: absolute;
    right: 15px;
    top: 15px;
    
    width:300px;
    padding: 6px;

    border: 1px solid #102B00;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#menu_bar
{
    background-color: #000000;
    height: 25px;
}